.product-detail{
    display: flex;
    align-items: center;
    margin: auto;
    height: 100%;
    width: 50%;
    padding: 40px;
}



.product-detail img{
    width: 200px;
    height: 300px;
    margin: 20px 100px 20px 20px;
    
}

.detail-info{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-items: flex-start;
    
    
    
}

.detail-info p{
    color: var(--item-font);
    line-height: 1.2em;
}

.description{
    font-size: 24px;
}

.detail-info :nth-child(3){
    font-size: 20px;
}
.detail-info :nth-child(4){
    font-size: 16px;
}

.detail-info button{
    min-width: 150px;
    background-color: var(--cart-button);
    color: var(--item-font);
    margin-left: 0;
}

.btn-cart{
    font-size: 16px;

}

.btn{
    transition: all 0.60s;
}

.btn:hover{
    transform: translateY(-10px)
}

/* media query tablet */
@media screen and (max-width: 768px){
    .product-detail{
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }

    .product-detail img{
        margin: auto;
        padding: 0;
    }

    .detail-info{
        row-gap: 20px;
    }
    

    .detail-info button{
        margin: auto;
        
    }

}

/* media query mobile */
@media screen and (max-width: 428px){
    .product-detail{
        width: 70%;
        
    }
    .product-detail img{
        width: 80%;
        height: 80%;
    }

    .detail-info{
        row-gap: 25px;
    }

}