.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    margin: 0 30px 0 30px;
}

h1{
    color: var(--footer-background);
    text-decoration: none;
}

.icon-btn img{
    width: 30px;
    height: 25px;
    margin-top: 0px;
}

.icon-btn{

    transition: all 0.60s;
}

.icon-btn:hover{
    transform: scale(0.9);
}

.length-btn{
    background-color: red;
    position: relative;
    margin-top: -30px;
    margin-left: 10px;
    text-align: center;
    border-radius: 100px;
    width: 15px;
    height: 15px;
    z-index: -1;
}