@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Inter';
}

:root{
  --main-background: #FAFAFA;
  --footer-background:#3A4895;
  --category-font-color: #5264C4;
  --item-font: #282828;
  --item-font-category: #949494;
  --font-color:#FCFCFC;
  --plain-background:#FFFFFF;
  --form-background:#B4B4B4;
  --form-button: #5264C3;
  --cart-button:#FFD814;
  --checkout-header:#979797;
  --checkout-table:#D9D9D9;
}