.home-categories{
    background-color:var(--plain-background);
    padding: 30px 10px;
    height: 100%;
}

.categories{
    display: flex;
    justify-content: space-around;
    
    
}

.categories a{
    color: var(--category-font-color);
    font-size: 20px;
}

.product-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}